.app {
	height: 100vh;
	display: flex;
	background-color: #020230;
	color: white;
}
.main {
	width: 75%;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./assets/bg.jpg") center;
	display: flex;
	flex-direction: column;
}

/* The end display */
.theEnd {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8d5bd;
	padding: 50px;
	border-radius: 25px;
}
.endText {
	flex: 1;
	margin-bottom: 25px;
	color: #090961;
}
.endButton {
	flex: 1;
	background-color: #090961;
	color: #e8d5bd;
	border: none;
	border-radius: 10px;
	padding: 8px;
	font-size: 18px;
	font-weight: bold;
}
.endButton:hover {
	background-color: #b6782d;
	color: white;
}

/* Top, Timer, and bottom */
.top {
	height: 50%;
	position: relative;
}
.timer {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 5px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-weight: 700;
	position: absolute;
	bottom: 10px;
	left: 80px;
}
.bottom {
	height: 50%;
}

/* Pyramid Sections */
.pyramid {
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.username {
	display: flex;
	font-size: 18px;
	font-weight: bold;
}
.logout {
	margin-left: 25px;
	cursor: pointer;
}
.logout:hover {
	text-decoration: underline;
}
.moneyList {
	list-style: none;
	width: 100%;
	padding: 45px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.moneyListItem {
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
}
.moneyListItem.active {
	background-color: teal;
}
.moneyListItemNumber {
	font-size: 18px;
	font-weight: 100;
	width: 30%;
}
.moneyListItemAmount {
	font-size: 20px;
	font-weight: 300;
}
.footer h5 {
	text-align: center;
}

@media screen and (max-width: 992px) {
	.main,
	.pyramid {
		display: none;
	}
}
